#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include "keymap_french.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mt {
    tapping-term-ms = <100>; // This is the value already set by default
};

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        td1: td1 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "A/@ Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp FR_A>, <&kp FR_AT>;
        };

        td2: td2 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "C/ç Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp FR_C>, <&kp FR_CCED>;
        };

        td3: td3 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "'/* Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp FR_QUOT>, <&kp KP_MULTIPLY>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "La base";
            bindings = <
&kp TAB    &kp B        &kp FR_M  &kp P         &kp O       &kp FR_W                             &none         &kp FR_Z   &kp V     &kp D     &kp L  &kp J  &kp ESC
&td0       &td1         &kp U     &kp I         &kp FR_E    &mt FR_SCLN FR_COMM           &none  &none  &none  &td2       &kp T     &kp S     &kp R  &kp N  &td3
&kp LCTRL  &kp FR_MINS  &kp Y     &kp X         &kp FR_DOT  &kp K                &none           &none         &sl 1      &kp FR_Q  &kp G     &kp H  &kp F  &kp DEL
                                  &kp LEFT_ALT  &kp LGUI    &kp RET                                            &kp SPACE  &sl 2     &kp BSPC
            >;
        };

        lower_layer {
            display-name = "morte";
            bindings = <
&trans       &kp FR_1     &kp FR_2     &kp FR_3     &kp FR_4     &kp FR_5                       &trans          &kp FR_6  &kp FR_7   &kp FR_8  &kp FR_9   &kp FR_0  &kp BSPC
&trans       &kp FR_AGRV  &kp FR_UGRV  &kp FR_EACU  &kp FR_EGRV  &kp FR_SLSH            &trans  &trans  &trans  &kp LEFT  &kp UP     &kp DOWN  &kp RIGHT  &kp HOME  &kp PG_UP
&kp K_CMENU  &kp FR_UNDS  &kp FR_EXLM  &kp FR_QUES  &kp FR_COLN  &kp FR_BSLS  &trans            &trans          &trans    &mkp RCLK  &kp INS   &kp ASTRK  &kp END   &kp PG_DN
                                       &to 4        &trans       &trans                                         &trans    &trans     &to 0
            >;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                   &none         &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8   &kp NUMBER_9      &kp NUMBER_0  &kp BSPC
&trans  &kp FR_LCBR   &kp FR_LBRC   &kp FR_LPRN   &kp FR_DLR    &kp FR_PERC             &none  &none  &none  &kp MINUS     &kp EQUAL     &kp LBKT  &kp LT  &kp GT    &kp GRAVE
&trans  &kp FR_RCBR   &kp FR_RBRC   &kp FR_RPRN   &kp FR_HASH   &kp FR_PIPE   &trans           &none         &kp UNDER     &kp PLUS      &kp LBRC       &kp RBRC          &to 3         &kp TILDE
                                    &trans        &trans        &trans                                       &trans        &to 0         &trans
            >;
        };

        layer_3 {
            display-name = "Fn";
            bindings = <
&studio_unlock  &kp F1      &kp F2     &kp F3       &kp F4     &kp F5                                  &mmv MOVE_UP                     &kp F6       &kp F7     &kp F8       &kp F9      &kp F10          &kp F11
&trans          &trans      &mkp LCLK  &mkp MCLK    &mkp RCLK  &mkp MB4                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &bootloader  &mkp LCLK  &mkp MCLK    &mkp RCLK   &kp PRINTSCREEN  &kp F12
&trans          &sys_reset  &trans     &bootloader  &trans     &mkp MB5  &kp C_MUTE                    &mmv MOVE_DOWN                   &trans       &trans     &bootloader  &sys_reset  &kp SCROLLLOCK   &kp PAUSE_BREAK
                                       &trans       &trans     &trans                                                                   &trans       &trans     &to 0
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_4 {
            display-name = "Config";
            bindings = <
&trans  &kp N1           &kp N2          &kp N3        &kp N4        &kp N5                                         &mmv MOVE_UP                     &kp N6           &kp N7           &kp N8           &kp N9           &kp N0    &kp BSPC
&trans  &bt BT_CLR_ALL   &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3                   &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT        &kp HOME  &kp PG_UP
&trans  &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &trans        &trans        &rgb_ug RGB_EFF  &kp C_MUTE                    &mmv MOVE_DOWN                   &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &kp END   &kp PG_DN
                                         &to 0         &trans        &trans                                                                          &kp INS          &kp DEL          &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
