manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: m165437 #new entry
      url-base: https://github.com/M165437 #new entry
      # Additional modules containing boards/shields/custom code can be listed here as well.
      # See:
      # - https://zmk.dev/docs/features/modules
      # - https://docs.zephyrproject.org/3.5.0/develop/west/manifest.html#projects
    - name: gpeye                         #new entry
      url-base: https://github.com/GPeye  #new entry
    - name: kevinpastor
      url-base: https://github.com/kevinpastor
    - name: mctechnology17
      url-base: https://github.com/mctechnology17  
  projects:
    - name: zmk-nice-oled
      remote: mctechnology17
      revision: main
    - name: eyelash_corne
      url: https://github.com/a741725193/zmk-new_corne
      revision: main
    - name: zmk
      remote: zmkfirmware
      revision: v0.3.0
      import: app/west.yml
    - name: nice-view-gem #new entry
      remote: m165437 #new entry
      revision: main #new entry
    - name: nice-view-mod   #new entry
      remote: gpeye                       #new entry
      revision: main                      #new entry
    - name: nice-view-elemental
      remote: kevinpastor
      revision: main
    - name: urchin-peripheral-animation
      remote: gpeye
      revision: main
  self:
    path: config
